@import url(//db.onlinewebfonts.com/c/4313d7354c9b8afe25e1a98773ade48d?family=MM+Headline+Pro+WebTT+Regular);
@font-face {font-family: "MM Headline Pro WebTT Regular"; src: url("//db.onlinewebfonts.com/t/4313d7354c9b8afe25e1a98773ade48d.eot"); src: url("//db.onlinewebfonts.com/t/4313d7354c9b8afe25e1a98773ade48d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4313d7354c9b8afe25e1a98773ade48d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4313d7354c9b8afe25e1a98773ade48d.woff") format("woff"), url("//db.onlinewebfonts.com/t/4313d7354c9b8afe25e1a98773ade48d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4313d7354c9b8afe25e1a98773ade48d.svg#MM Headline Pro WebTT Regular") format("svg"); }
body{
    color: white;  
    background-color:black;
    font-size: 1.1vw;
}
header{
    position: sticky;
    top: 0px;
    background-color: rgb(223, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.logo{
    width:20% ;
    margin: 15px;
}
.categorias{
    width: 20%;
    margin: 15px;
}
.icono{
    width: 30%;
}
.busqueda{
    width: 50%;
    border-radius: 15px;
    margin: 15px;
}
.casa{
    width: 8%;
    margin: 15px;
}
.titol{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}
.barra{
    display: flex;
    font-size: 1.2vw;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 25px;
    
}
.banner{
    display: flex;
    justify-content: space-around;
    width: 70%;
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 15px;
    font-family: MM Headline Pro WebTT Regular;
    background-color: darkgray;
    
}
.textobanner{
 font-size: 2.4vw;
}

.textobanner div{
    height: auto;
    font-weight: bold;
    font-size: 3vw;
}
.imgbanner{
    width: 50%;
}
.div-banner{
    border-bottom: 10px solid black;
}
.card-gran{
    display: flex;
    background-color: rgb(36, 36, 36);
    font-family: 'Source Sans Pro', sans-serif;
}
.img-card{
    background-color: rgb(223, 0, 0);
}
.text-card{
    width: 60%;
}
.precio{
    display: flex;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    font-size: 2.3vw;
    font-family: MM Headline Pro WebTT Regular;
    

}
.cont-cajas{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
}
.caja{
    display: flex;
    border: 2px solid darkgray;
    width:max-content;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 10px;
    align-items: center;
}
h1{
    color: red;
    font-family: MM Headline Pro WebTT Regular;
}
.img-movil{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 15px;
}
.img-movil-peq{
    width: 25%;
    margin-left: 15px;
}
.text-card{
    width: 80%;
}
.caja_peq{
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}
.grande1{
    grid-area: grid-1;
}
.grande2{
    grid-area: grid-6;
}
.peq1{
    grid-area: grid-2;
}
.peq2{
    grid-area: grid-3;
}
.peq3{
    grid-area: grid-4;
}
.peq4{
    grid-area: grid-5;
}
.sede{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}
.texto-sede{
    font-size: 2vw;
}

/* grid */
@media screen and (min-width:801px) {
    

.container{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
        "grid-1 grid-1 grid-2 grid-3"
        "grid-4 grid-5 grid-6 grid-6";
        row-gap: 15px;
        column-gap: 15px;
}
    .menu-peq{
        display: none;
    }
    .tienda-peq{
        display: none;
    }
}
@media screen and (max-width:800px){
    .container{
        width: 90%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "grid-1 grid-1"
        "grid-2 grid-3"
        "grid-4 grid-5"
        "grid-6 grid-6";
        row-gap: 15px;
        column-gap: 15px;
    }
    .barra{
        display: none;
    }
    .casa{
        display: none;
    }
    .tienda-gran{
        display: none;
    }
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(27, 27, 27);
    margin-top: 15px;
}